//- Buffered code starts with =. It evaluates the JavaScript expression and outputs the result.
//- For security, buffered code is first HTML escaped.

p
    = 'This code is <escaped>!'
|
|
p= 'This code is' + ' <escaped>!'