//- Unescaped buffered code starts with !=. It evaluates the JavaScript expression and outputs the result.
//- Unescaped buffered code does not perform any escaping, so is unsafe for user input:

p
    != 'This code is <strong>not</strong> escaped!'
|
|
p!= 'This code is' + ' <strong>not</strong> escaped!'