//- Buffered comments look the same as single-line JavaScript comments. They act sort of like markup tags,
//- producing HTML comments in the rendered page. Like tags, buffered comments must appear on their own line.
//- 可输出的注释看起来像单行js注释，它们有点像标记标签，会在渲染后的页面中显示html注释。像标签一样，可输出的注释独占一行


// just some paragraphs
p foo
p bar