p Pug also supports unbuffered comments. Simply add a hyphen (-) to the start of the comment.
|
|
p These are only for commenting on the Pug code itself, and do not appear in the rendered HTML.
|
|
//- will not output within markup
p foo
p bar
